body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    color: #484848;
    font-family: Circular, "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.container {
    margin: auto;
    max-width: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}